:root {
    --fg:       #ebdbb2 ; --bg:       #282828 ; --bg1:      #32302f ; --bg2:      #504945 ;
    --red:      #fb4934 ; --green:    #98971a ; --greenl:   #b8bb26 ; --yellow:   #fabd2f ;
    --blue:     #83a598 ; --purple:   #d3869b ; --aqua:     #8ec07c ; --orange:   #fe8019 ;
    --gray:     #928374 ; --grayl:    #a89984 ;
    --image:    url("img/wallpaper.jpg") ;
    --main_color: var(--greenl) ;
    color: var(--main_color) ;
    background-color: var(--bg) ;
    font-size: clamp(1rem,4vw,max(2vh,2vw)) ;
}

body {
    font-family: "Lucida Console", "Courier New", monospace ;
    text-align: left ;
    margin: 0 ;
}
/* Header */
.header {
    padding: 1rem ;
    background-color: var(--bg) ;
}
.headerLink {
    font-size: 1.2rem ;
    text-decoration: none ;
    color: var(--main_color) ;
    padding-right: 1rem ;
}
.subheader {
    color: var(--grayl) ;
    font-style: italic ;
    font-size: 1rem ;
}
/* Nav */
ul {
    background-color: var(--main_color) ;
    margin-top: 0 ;
    padding: 0 ;
    padding-top: 0.2rem ;
    padding-bottom: 0.2rem ;
}
li {
    display: inline ;
}
li a {
    color: var(--bg) ;
    text-decoration: none ;
    padding-left: 0.5rem ;
    padding-right: 0.5rem ;
}
li a:hover {
    background-color: var(--green) ;
}
li a.active {
    font-weight: bold ;
}
#home {
    margin-left: 0.5rem ;
}
/* Content */
#content {
    margin-left: 1rem ;
}
img {
    margin-top: 1rem ;
    width: min(100% - 1rem, 700px) ;
    border: 1px solid var(--main_color) ;
}
textarea, input {
    font-size: 1rem ;
    background-color: var(--bg1) ;
    color: var(--main_color) ;
    border: 1px solid var(--main_color) ;
}
textarea {
    height: 10rem ;
    width: min(100% - 1rem, 40rem) ;
    resize: none ;
}
input[type=submit] {
    font-weight: bold ;
    cursor: pointer;
}
#error {
    color: var(--bg) ;
    background-color: var(--red) ;
    width: 11rem ;
}
audio {
    width: min(100% - 1rem, 40rem) ;
    height: 1.5rem ;
    color: var(--bg) ;
    margin-bottom: 1rem ;
    align: left ;
}
