<html>
<head>
    <title>Doppelkopf</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <a href="/" class="headerLink">getintogig.net</a>
        <span class="subheader">doppelkopf</span>
    </div>
    <!-- Nav -->
    <nav>
    <ul>
      <li><a href="/" id="home">home</a></li>
      <li><a href="/gwlm">gwlm</a></li>
      <li><a href="/doko" class="active">doko</a></li>
    </ul>
    </nav> 
    <!-- Content -->
    <div id="content">
    <img src="/static/img/doko.png">

    <form action="/doko" method="post">
        <textarea name="game" id="game" placeholder=
"P1 P2 P3 P4 P5  <-- Spielernamen (min. 4)
 0  2 -2 -2  2
 5  2 -7  3 -3  <-- rundenweise addierte Punkte in
11 -4 -7  9 -9      folgenden Zeilen"></textarea>
        </br>
        </br>
        Spiel in die Gesamtstatistik aufnehmen</br>
        Passwort:
        <input type="password" name="pass">
        <input type="submit" name="submit" value="Hochladen">
    </form>
    <div id="error">{{ msg }}</div>
    </div>

</body>
</html>
